body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #525252;
}

.container{
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 15px;
    padding: 10px 20px 20px;
    background-color: #1f1f1f;
}

.display{
    height: 80px;
    width: 100%;
    outline: none;
    border: none;
    background-color: #595959;
    text-align: right;
    margin-bottom: 10px;
    font-size: 25px;
    border-radius: 5px;
}

.buttons{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

button{
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: black;
    color: whitesmoke;
}

.operator{
    color: red;
}